html { 
    box-sizing: border-box; 
    background-image: url("https://i.imgur.com/kc3xxlc.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body{
      margin: 0px;
  }
  
  *, *:before, *:after { 
    box-sizing: inherit;
    font-family: 'Fjalla One', sans-serif;

  }
nav{
    background-color: rgb(37, 34, 34);
    height:60px;
    position: fixed;
    width: 100%
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 50px;
  }
li a{
    color: rgb(192, 171, 52);
    font-size:25px;
    text-decoration: none;

}
a:hover{
    color: rgb(84, 168, 236);
}
.homepage-info h1{
    margin-top: 50px; 
    color: rgb(172, 153, 46);
    font-size: 50px;
    opacity: 0.87;
    
}
.homepage-info h2{
    margin-top: 150px;
    color: rgb(172, 153, 46);
    font-size: 50px;
    margin-bottom: 30px;
    opacity: 0.87;
    
}
.homepage-info h3{
    color: rgb(172, 153, 46);;
    font-size: 23px;
    margin-left: 150px;
    opacity: 0.87;
}

.homepage-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
    
    
}
.scroll-reminder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

}
.scroll-reminder h4{
    margin-top: 150px;
    color:  rgb(172, 153, 46);
    opacity: 0.87;
}
.body-section{
    background-color: white;
    display: flex;
   
}
@media screen and (min-width: 1024px) {
    html { 
        box-sizing: border-box; 
        background-image: url("https://i.imgur.com/1yhOPtc.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }
      body{
          margin: 0px;
      }
      
      *, *:before, *:after { 
        box-sizing: inherit;
        font-family: 'Fjalla One', sans-serif;
    
      }
    nav{
        background-color: rgb(37, 34, 34);
        height:60px;
        position: fixed;
        width: 100%
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 50px;
      }
    li a{
        color: rgb(192, 171, 52);
        font-size: 25px;
        text-decoration: none;
    
    }
    a:hover{
        color: rgb(84, 168, 236);
    }
    .homepage-info h1{
        margin-top: 210px; 
        color: rgb(172, 153, 46);
        font-size: 110px;
        opacity: 0.87;
    }
    .homepage-info h2{
        margin-top: 70px;
        color: rgb(172, 153, 46);
        font-size: 140px;
        opacity: 0.87;
    }
    .homepage-info h3{
        color: rgb(172, 153, 46);
        margin-left: 860px;
        
        font-size: 40px;
        opacity: 0.87;
    }
    
    .homepage-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 900px;
        justify-content: center;
        
    }
    .scroll-reminder h4{
        font-size: 20px;
        color:  rgb(172, 153, 46);
        opacity: 0.77;
    }
    .scroll-reminder{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100px;
    
    }
}